<div class='resp-tabs-container vert'>
<div class='row borders'>
<div class='col'>
<div class="card" style="width: 12rem;">
	{% if instance.image %}
  <img src="{{ instance.image.url }}" class='col-xs-12 col-lg-12 borders'>
	{% endif %}
  <div class="card-body">
	<h5 class="productname_small">{{ instance.title }}</h5>
	<p class="card-text">{{ instance.description|linebreaks|truncatewords:12 }}</p>
	<center><a href="{{ instance.get_absolute_url }}" class="btn btn-primary">Produk Detail</a></center>
		 

  </div>
</div>
</div>
</div>
</div>
