	<div class='text-center'>
		<h1>Contact Page</h1>
		<h1>Hello, world we're working!</h1>
		</div>
		<div class='container'>
		<div class='row'>
		<div class='col'>
			<p>Wellcome to the Contact Page. </p>
			<div class='col-sm-6 col-12'>
				<form method='POST'> <input type='hidden' name='csrfmiddlewaretoken' value='YVhPBJ3DbQYrMWZBYUnkPyAE3Em5HyG5ARtHxXEULZ58xNVgH0xAtZGiASSwqCPE' />
					<tr><th><label for="id_Fullname">Fullname:</label></th><td><input type="text" name="Fullname" class="form-control" placeholder="Your Full Name" required id="id_Fullname" /></td></tr>
<tr><th><label for="id_email">Email:</label></th><td><input type="email" name="email" class="form-control" placeholder="Your Email" required id="id_email" /></td></tr>
<tr><th><label for="id_content">Content:</label></th><td><textarea name="content" cols="40" rows="10" class="form-control" placeholder="Your Message" required id="id_content">
</textarea></td></tr>
					<button type='submit', class='btn btn-default'>Submit</button>
				</form>
			</div>
		</div>
	</div>
	</div>